{% extends "global.html" %}
{% block body_content %}
<h1>Edit A Country</h1>
<script type="application/javascript"
    src="{{ url_for('countries.static', filename='form.js') }}"></script>
<form method="post" action="{{ url_for('countries.edit_country',
    country_id=entry.country_id) }}" onsubmit="return verify_country();">
    <label>Country Name</label>
    <span id="country_name_msg" class="error_msg">{{ error_msg.country_name if error_msg.country_name is defined }}</span>
    <input type="text" id="country_name" name="country_name"
        value="{{ entry.country_name }}"/>

    <label>Country Abbreviation</label>
    <span id="country_abrev_msg" class="error_msg">{{ error_msg.country_abrev if error_msg.country_abrev is defined }}</span>
    <input type="text" id="country_abrev" name="country_abrev"
        value="{{ entry.country_abrev }}" />

    <input type="submit" value="submit" />
</form>
{% endblock %}