{% extends "global.html" %}
{% block body_content %}
<h1>Edit A Country</h1>
<script type="application/javascript">
"use strict";

function verify_country() {

    // flag for any value errors
    var form_is_valid = true;

    // retrieve the form values
    var country_name = document.getElementById('country_name').value;
    var country_name_msg = document.getElementById("country_name_msg");

    // clear out the error message
    country_name_msg.innerHTML = "";

    // ensure country_name is not null
    if(!country_name) {
        country_name_msg.innerHTML = "Please fill in the country name.";
        form_is_valid = false;
    }

    // ensure country_name is longer than 3 characters
    if(country_name.length < 4) {
        country_name_msg.innerHTML = "Please fill in the country name completely.";
        form_is_valid = false;
    }

    // ensure country_name is less than 33 characters
    if(country_name.length > 32) {
        country_name_msg.innerHTML = "Please fill in a shorter country name.";
        form_is_valid = false;
    }


    // retrieve the value
    var country_abrev = document.getElementById('country_abrev').value;
    var country_abrev_msg = document.getElementById("country_abrev_msg");

    // clear out the error message
    country_abrev_msg.innerHTML = "";

    // ensure country_abrev is 2 characters
    if(2 !== country_abrev.length) {
        country_abrev_msg.innerHTML = "Please fill in the country abbreviation with 2 characters.";
        form_is_valid = false;
    }


    return form_is_valid;
}
</script>

<form method="POST" action="{{ url_for('countries.edit_country',
    country_id=entry.country_id) }}" onsubmit="return verify_country();">
    
    <label>Country Name</label>
    <span id="country_name_msg" class="error_msg"></span>
    <input type="text" id="country_name" name="country_name"
        value="{{ entry.country_name }}"/>
        
    <label>Country Abbreviation</label>
    <span id="country_abrev_msg" class="error_msg"></span>
    <input type="text" id="country_abrev" name="country_abrev"
        value="{{ entry.country_abrev }}"/>
        
    <input type="submit" value="submit" />
    
</form>
{% endblock %}