<!doctype html>
{% extends "global.html" %}
{% block body_content %}
    <h1>Countries</h1>
    <a href="{{ url_for('countries.add_country') }}">Add country</a>
    <table>
    <tr>
        <th>ID</th>
        <th>Country Name</th>
        <th>Abreviation</th>
        <th>Created</th>
    </tr>
    {% for entry in Countries.query.all()|sort(attribute='country_id') %}
    <tr>
        <td>{{ entry.country_id }}</td>
        <td>{{ entry.country_name }}</td>
        <td>{{ entry.country_abrev }}</td>
        <td>{{ entry.country_created }}</td>
        <td>
            <a href="{{ url_for('countries.view_country',
                country_id=entry.country_id) }}">View</a>
            <a href="{{ url_for('countries.edit_country',
                country_id=entry.country_id) }}">Edit</a>
            <a href="{{ url_for('countries.delete_country',
                country_id=entry.country_id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}