{% extends "global.html" %}
{% block body_content %}
    <h1>A Single Artifact</h1>
<table>
    <tr>
        <td>{{ entry.artifact_id }}</td>
        <td>{{ entry.artifact_name }}</td>
        <td>{{ entry.artifact_obj_reg }}</td>
        <td>{{ entry.artifact_created }}</td>
        <td>{{ entry.artifact_updated }}</td>
        <td>
            <a href="/artifacts/edit/{{ entry.artifact_id }}">Edit</a>
            <a href="/artifacts/delete/{{ entry.artifact_id }}">Delete</a>
        </td>
    </tr>
</table>
          <a href="/artifacts">View All</a>
{% endblock %}