{% extends "global.html" %}
{% block body_content %}
    <h1>Artifacts</h1>
    <a href="{{ url_for('artifacts.add_artifact') }}">add</a>
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    {% for entry in Artifacts.query.all() %}
    <tr>
        <td>{{ entry.artifact_id }}</td>
        <td>{{ entry.artifact_name }}</td>
        <td>{{ entry.artifact_created }}</td>
        <td>{{ entry.artifact_updated }}</td>
        <td>
            <a href="/artifacts/view/{{ entry.artifact_id }}">View</a>
            <a href="/artifacts/edit/{{ entry.artifact_id }}">Edit</a>
            <a href="/artifacts/delete/{{ entry.artifact_id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}