{% extends "global.html" %}
{% block body_content %}
    <h1>Regions</h1>
    <a href="{{ url_for('regions.add_region') }}">Add region</a>
    <table>
    <tr>
        <th>ID</th>
        <th>Region Name</th>
        <th>Country</th>
        <th>Options</th>
    </tr>
    {% for entry in Regions.query.all()|sort(attribute='region_id') %}
    <tr>
        <td>{{entry.region_id}}</td>
        <td>{{entry.region_name}}</td>
        <td>{{entry.country_id}}</td>
        <td>
            <a href="{{ url_for('regions.view_one_region',
                region_id=entry.region_id) }}">View</a>
            <a href="{{ url_for('regions.edit_region',
                region_id=entry.region_id) }}">Edit</a>
            <a href="{{ url_for('regions.delete_region',
                region_id=entry.region_id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}