{% extends "global.html" %}
{% block body_content %}
    <h1>Regions</h1>
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {% for entry in Regions.query.all() %}
    <tr>
        <td>{{entry.region_id}}</td>
        <td>{{entry.region_name}}</td>
        <td>
            <a href="{{ url_for('regions.view_one_region',
                region_id=entry.region_id) }}">View</a>
            <a href="{{ url_for('regions.edit_region',
                region_id=entry.region_id) }}">Edit</a>
            <a href="{{ url_for('regions.delete_region',
                region_id=entry.region_id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}