{% extends "global.html" %}
{% block body_content %}
<h1>Edit A City</h1>
<script type="application/javascript"
    src="{{ url_for('cities.static', filename='form.js') }}"></script>
<form method="post" onsubmit="return verify_city();"
    action="{{ url_for('cities.edit_city', city_id=entry.city_id) }}">

    <label>City Name</label>
    <span id="city_name_msg" class="error_msg">
        {{ error_msg.city_name if error_msg.city_name is defined }}
    </span>
    <input type="text" id="city_name" name="city_name"
        value="{{ entry.city_name }}"/>

    <label>Country</label>
    <span id="country_id_msg" class="error_msg">
        {{ error_msg.country_id_msg if error_msg.country_id_msg is defined }}
    </span>
    <select id="country_id" name="country_id">
    {% for entry in country_list %}
        <option value="{{ entry.country_id }}">{{ entry.country_name }}</option>
    {% endfor %}
    </select>

    <label>Region</label>
    <span id="region_id_msg" class="error_msg">
        {{ error_msg.region_id_msg if error_msg.region_id_msg is defined }}
    </span>
    <select id="region_id" name="region_id">
    {% for entry in region_list %}
        <option value="{{ entry.region_id }}">{{ entry.region_name }}</option>
    {% endfor %}
    </select>

    <input type="submit" value="submit" />
</form>
<a href="{{ url_for('cities.view_all_cities') }}">Cancel</a>
{% endblock %}