{% extends "global.html" %}
{% block body_content %}
<h1>Hello World!</h1>

<script type="application/javascript">
"use strict";

function do_the_ajax(){

    // http://www.w3schools.com/jsref/dom_obj_event.asp
    // http://api.jquery.com/jquery.ajax/
    $.ajax({
        url: "{{ url_for('countries.add_country') }}",
        data: {'test': 1},
        method: 'post'
    }).done(function( data ) {
        if ( console && console.log ) {
            console.log( "Sample of data:", data );
        }
    });
return false;
};
</script>
<form  method="post" action="#" onsubmit="return do_the_ajax();">
    <label>Text</label>
    <input type="text" name="" value="" />
    <input type="submit" value="submit" />
</form>
{% endblock %}